block footer
    //Footer
    footer
        div.container
            div.row
                div.col-12.col-sm-4.col-lg-4.footerBranding Shooky's Cookies  
                div.col-3.col-sm-2.col-lg-1.footerBodyCopy 
                            | PHONE     
                            br 
                            | EMAIL
                            br 
                            | LOCATION 
                div.col-9.col-sm-6.col-lg-7.footerBodyCopy
                            | 123.456.7890    
                            br 
                            | MILK@SHOOKYSCOOKIE.COM
                            br 
                            | 12 CHIP ST, NEW YORK, NY 00000
    //Footer End