//Jumbotron Hero Image
div.jumbotron.jumbotron-fluid.heroImage
    div.container
        div.row
            div.col-lg-5.offset-lg-7.textBox
                h2 Baked fresh,
                h2.center every day.
                p.bodyCopy Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia suscipit eros et viverra.
            div.col-lg-2.offset-lg-10
                a(href='#') 
                    button.heroButton Order a batch