//Navbar
nav.navbar.navbar-expand-md
    div.container
        div.navbar-brand.white-space
            span.navbar-logo Shooky's Cookies
        button.navbar-toggler.navbar-toggler-right(type=button, data-toggle="collapse", data-target="#navbar-target", aria-controls="navbarContent", aria-expanded="true" aria-label="Toggle navigation")
            span.navbar-toggler-icon.navbar-light
        div.collapse.navbar-collapse#navbar-target
            ul.navbar-nav.ml-auto
                li.nav-item.ml-auto
                    a(href='#').nav-link ABOUT
                li.nav-item.ml-auto
                    a(href='#').nav-link BLOG
                li.nav-item.ml-auto
                    a(href='#').nav-link VISIT
//Navbar End
